@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* .hover-trigger .hover-target {
    display: none;
} */

.hover-trigger .hover-target{
    display: flex;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
    transition: height 0.5s ease-out;
    z-index: 100;
}

.hover-trigger:hover .hover-target {
  height: 150px;
  display:flex;
  visibility: visible;

}